name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "0 0 * * 1,4"
  workflow_dispatch:
    inputs:
      version:
        description: Manual CI Run
        default: test
        required: false

jobs:
  Test:
    name: ${{ matrix.os }}, ${{ matrix.environment-file }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        environment-file:
          - ci/envs/310-minimal.yaml
          - ci/envs/310-latest.yaml
          - ci/envs/311-latest.yaml
          - ci/envs/312-latest.yaml
          - ci/envs/313-latest.yaml
          - ci/envs/313-dev.yaml
        include:
          - environment-file: ci/envs/313-latest.yaml
            os: macos-15-intel # Intel
          - environment-file: ci/envs/313-latest.yaml
            os: macos-latest # Apple Silicon
          - environment-file: ci/envs/313-latest.yaml
            os: windows-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: "latest"

      - name: Install pointpats
        run: pip install .

      - name: Test pointpats
        run: |
          pytest \
          -v \
          -n logical \
          --color yes \
          --cov pointpats \
          --cov-append \
          --cov-report term-missing \
          --cov-report xml .

      - uses: codecov/codecov-action@v5
